@charset 'utf-8';
/* CSS Document */

/* reset (pc) */
body {margin: 0;}
h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, p, table {margin: 0; padding: 0;}
h1, h2, h3, h4, h5, h6 {font-weight: 700;}
main {display: block;}
a {color: inherit; text-decoration: inherit;}
a img {border: none;}
img {vertical-align: middle;}
li {list-style: none;}
address, em, i, cite {font-style: normal;}
table {border-collapse: collapse;}
table caption {overflow: hidden; width: 0; height: 0;}
i.fas, i.far, i.fab {vertical-align: middle; display: inline-block;}
i.fas span, i.far span, i.fab span {position: absolute; overflow: hidden; text-indent: -999px;}
.mobile {display: none !important;}
.hidden {position: absolute; left: -9999px;}
br.only-m {content: '';}
br.only-m:after {content: '\00a0';}

/* common */
.blind{display:none;}
li{list-style: none;}
a{text-decoration: none;}
img{width:100%;}
h3{font-size: 45px; }
.more{border:2px solid red; display:block; width:172px; line-height:42px; border-radius: 10px 0 10px 0; margin-top: 40px;}
.more span{font-size: 15px;}
.more span img{width:20px; height:15px; padding-left:30px;}



/* visual */
#visual{clear: both;}
.container{max-width:1300px; margin:0 auto; }
#visual{position: relative; height:100vh;}
.visual_box{position: absolute;  top:0; left:0; width:100%; height:100vh; border:5px solid violet; box-sizing: border-box;}
#bg01{background: url("../img/visual01.jpg") no-repeat center/cover;}
#bg02{background: url("../img/visual02.jpg") no-repeat center/cover;}
#bg03{background: url("../img/visual03.jpg") no-repeat center/cover;}
#bg04{background: url("../img/visual04.jpg") no-repeat center/cover;}
#bg05{background: url("../img/visual05.jpg") no-repeat center/cover;}
.visual_bg{width:100%; height:100%; box-sizing: border-box;}
.container .indicator{position: absolute; bottom:0; left:50%; transform:translate(-50%,0); border:2px solid red; display: none;} 
.container .indicator li{display:inline-block; border:2px solid blue; overflow: hidden;}
.container .indicator li.on{width:20px; background-color: white;}
.container .indicator li a{display:inline-block; width:10px; height:10px; border:2px solid white; border-radius: 20px;  text-indent: -999px;}
.play {border:2px solid red; width:15px; height:20px; display:table; position: absolute; left:35px;} 
.play img:first-child{display:none;}
.play img:last-child{display: table-cell;}
.play.on img:first-child{ display: table-cell;}
.play.on img:last-child{display:none;}
.control .prev,.control .next{border:2px solid red; display:table; width:25px; height:20px; position: absolute; }
.control .prev img,.control .next img{display:table-cell;}
.control .prev{left:0;}
.control .next{left:60px;}
.control{position: absolute; bottom:0; right:0; height:20px; top:70%; left:10%;}
.visual_box h2{position: absolute; bottom:35%; left:10%; border: 3px solid blue; font-size: 50px; color:white; opacity: 0; transition: all 1s;
    transition-delay: 0.5s;} 
.visual_box h2 em{color: #f04e23;}
.visual_box h2.on{opacity: 1;  bottom:38%; }



/* cont1 */
#cont1{position: relative; height: 914px;}
#cont1 .container > h3{width:100%; text-align: center; }
#cont1 .container > p{width:100%; text-align: center; }
.cont1_left ul > li > p{font-size: 45px}
.cont1_left li{position:absolute; width:450px; top:50%; transform: translate(0,-50%);}
.cont1_center{position:absolute; left:50%; top:50%; width:532px; height:532px; background: url('../img/cont1_circle_2.png') no-repeat center/cover;
transform: translate(-50%,-50%); overflow: hidden; border:2px solid green; border-radius: 50%;}
.cont1_center ul li img{width:50%; position:absolute; left:50%; top:50%; transform: translate(-50%,-50%); }
.cont1_right{float:right; padding-top:67px;}
.cont1_right ul li{border-bottom: 1px solid #dadada; padding: 35px 0 35px 57px; color:grey;}
.cont1 .container{padding-top:100px;}



/* cont2 */
#cont2{position: relative; height: 914px; background: url('../img/cont2_bg.jpg') no-repeat center/cover; overflow: hidden;}
#cont2 h3{padding-top:162px;}
.circle_area div{position:absolute;  }
.circle_area div:nth-child(1){right:-650px; top:-150px}
.circle_area div:nth-child(2){left:550px; top:60px}
.circle_area div:nth-child(3){left:-600px; top:600px}
.cont2_wrap h3{width:100%; text-align: left;}
.cont2_box{padding-top:111px}
.cont2_box li{  display: block;}
.cont2_box li a.on:hover{color: #f04e23;}
/* .cont2_txt{display:none;} */
.cont2_box li div p{font-size: 45px; padding-bottom:36px}
.cont2_box > li > a{position: absolute; top:290px; }
.cont2_box > li:nth-child(1) > a{left:0;}
.cont2_box > li:nth-child(2) > a{left:97px;}
.cont2_box > li:nth-child(3) > a{left:230px;}
.cont2_box > li:nth-child(4) > a{left:369px;}
#cont2 .container{position: relative; height:100%;}
.cont2_imgbox{position: absolute; left:50%; top:50%; border:2px solid red; opacity: 0; transition: opacity 0.5s;}
.cont2_txt{display: none;}


/* cont3 */
#cont3{height:553px; background:#f8efe7; position: relative;}
#cont3 h3{text-align: center;}
#cont3 .container{padding-top:109px;}
#cont3 .container > ul > li{float:left; width:19%; margin-right: 8%; text-align: center;}
#cont3 .container > ul{width:960px; margin:0 auto;  padding-top: 75px; overflow: hidden;}
#cont3 .container > ul > li:last-child{margin-right:0}
#cont3 .container > ul > li > div > p{position: absolute; top:105px; left:50%; transform:translate(-50%,0); color: #f04e23; font-size: 16px;
font-weight: bold; padding-bottom: 20px;}
#cont3 .container > ul > li > div{position: relative;}
.container{border:2px solid red;}
.counter1{font-size: 45px; font-weight: bold;}


/* cont4 */
#cont4 {position: relative; height:914px;}
#cont4 ul{width:400px; margin:0 auto; padding-top:43px;}
#cont4 h3{text-align: center; padding-top:117px;}
#cont4 ul > li {float:left; width:33.3%; text-align: center;}
#cont4 ul > li > p{font-size:45px; color:#f04d22;}


/* cont5 */
#cont5{position: relative; height:861px;}
#cont5 h3{ text-align: center; padding-top:117px;}
#cont5 p{text-align: center;}